.carousel-vac-wrapper {
    box-shadow: 0 0 3px 2px rgba(132, 140, 142, 0.5);
    border-radius: 5px;
    width: 240px;
    margin: 40px 0;
}
.vacancy-name {
    border-radius: 5px;
    height: 50px;
    display: flex;
    color: #0C1618;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px;
}
.vacancy-name-inner {
    height: auto;
    margin: auto;
}
.vacancy-count {
    display: flex;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-weight: normal;
    font-size: 1.125rem;  /* 18px */
    width: auto;
}
.vac-count-red {
    background-color: rgba(245, 131, 108, 1);
}
.vac-count-grey {
    background-color: #505350;
}
.vacancy-button {
    height: 40px;
    margin-top: 68px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.text {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
}

.rec-dot {
    display: none;
}

.red button.rec-arrow:hover, .red button.rec-arrow:focus {
    background-color: rgba(245, 131, 108, 0.5);
}
.red button.rec-arrow {
    background-color: rgba(245, 131, 108, 0.5);
}

.red button.lgksPe:hover:enabled, .red button.lgksPe:focus:enabled {
    color: #fff;
    background-color: rgba(245, 131, 108, 1);
    box-shadow: 0 0 2px 0 #333;
}
.red button.lgksPe, .red button.lgksPe:focus{
    color: #fff;
    background-color: rgba(245, 131, 108, 1);
    box-shadow: 0 0 2px 0 #333;
}

.grey button.rec-arrow:hover, .grey button.rec-arrow:focus {
    background-color: rgba(80, 83, 80, 0.3);
    color: #848c8e;
}
.grey button.rec-arrow {
    background-color: rgba(80, 83, 80, 0.3);
    color: #848c8e;
}

.grey button.lgksPe:hover:enabled, .grey button.lgksPe:focus:enabled {
    color: #fff;
    background-color: #505350;
    box-shadow: 0 0 2px 0 #333;
}
.grey button.lgksPe, .grey button.lgksPe:focus{
    color: #fff;
    background-color: #505350;
    box-shadow: 0 0 2px 0 #333;
}

.rec.rec-arrow:disabled {
    /*visibility: hidden;*/
    cursor: inherit;
}

@media screen and (max-width: 768px) {
    .carousel-vac-wrapper {
        width: 130px;
    }
}

@media screen and (max-width: 980px) {
    .carousel-vac-wrapper {
        width: 160px;
    }
    .text {
        font-size: 0.81255rem;
    }
    .vacancy-name {
        height: 46px;
    }
    .vacancy-count {
        font-size: 0.8125rem;
    }
}
@media screen and (max-width: 1124px) {
    .carousel-vac-wrapper {
        width: 200px;
    }
    .vacancy-name {
        font-size: 0.875rem;
    }
    .vacancy-count {
        height: 40px;
        font-size: 1rem;  /* 16px */
    }
    .text {
        font-size: 0.9375rem;
    }

}
@media screen and (max-width: 1150px) {
    .carousel-vac-wrapper {
        max-width: 210px;
    }
}
@media screen and (max-width: 1170px) {
    .carousel-vac-wrapper {
        max-width: 230px;
    }
}
