.search-block {
    text-align: center;
    padding-bottom: 20px;
}

.map-button {
    font-size: 0.7rem;
    border: 0;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
}

.reg-button {
    background-color: #f04d2d;
    width: 250px;
    height: 36px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    border-color:  #f04d2d;
    border-bottom: white;
    border-right: white;
;
}
.reg-button:disabled {
    cursor: auto;
    background-color: #fa9784;
    border-color:  #fa9784;
    color: #f6d1d1;
    /*border-bottom: white;*/
    /*border-right: white;*/
}

.map-wrapper {
    width: 600px;
    margin: auto;
}
.radius-text {
    font-size: 1.0rem;
    font-weight: 600;
}