.my-maps {
    width: 600px;
    height: 400px;
    margin: 30px auto 30px;
}
.radio-gr {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    margin: 15px auto 15px;
    font-size: 1.0rem;
    font-weight: 600;
}
.add-point {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 15px auto 30px;
    font-size: 1.0rem;
    font-weight: 600;
}
.search-work-input-2 {
    font-size: 1.0rem;
    width: 430px;
    border-color: #f04d2d;
    height: 30px;
    border-radius: 5px;
    border-style:solid;
}
.search-work-button-2 {
    width: auto;
    min-width: 120px;
    background: #f04d2d;
    height: 35px;
    border-radius: 5px;
    border-color: #f04d2d;
    border-style:solid;
    margin-left: 20px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}
.show-map-b {
    margin: 0 5px 0 5px;
    height: 25px;
    background: #f04d2d;
    color: white;
    font-size: 1.0rem;
    border-radius: 5px;
    border-color: #f04d2d;
    border-style:solid;
    cursor: pointer;
}
.show-map-b:active {
    outline:none;
}
.show-map-b:focus {
    outline:none;
}
.slider-2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    border-radius: 5px;
    background: #f04d2d; /*  background */
    outline: none; /* Remove outline */
    /*opacity: 0.7; !* Set transparency (for mouse-over effects on hover) *!*/
    /*-webkit-transition: .2s; !* 0.2 seconds transition on hover *!*/
    /*transition: opacity .2s;*/
}
.slider-2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #f04d2d;
    cursor: pointer; /* Cursor on hover */
}

.slider-2::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #f04d2d;
    cursor: pointer; /* Cursor on hover */
}
