.edit-button {
    font-size: 0.9rem;
    border: 0;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
    color: #f04d2d;
}

.right-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 600px;
    margin: auto;
}
.left-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 200px;
    margin: auto;
}

th, td {
    border-bottom: 1px solid #505350;
}
th-l, td-l {
    border-bottom: 1px solid #ffffff;
}

td{
    width: 30%;
    height: 30px;
}