.form_radio {
    margin-bottom: 10px;
}
.label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    font-size: 0.9375rem;
    /*color: #f04d2d;*/
}
.label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(/src/img/radio-1.png) 0 0 no-repeat;
    /*color: #a5a5a7;*/
}

.input[type=radio] {
    display: none;
}
/* Checked */
.input[type=radio]:checked + label:before {
    background: url(/src/img/radio-2.png) 0 0 no-repeat;
    /*color: #1A365A;*/
}
/* Hover */
.label:hover:before {
    filter: brightness(120%);
}

.select-css, .select-css-date {
    display: block;
    font-size: 0.875rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #505350;
    padding: .6em 1.4em 0 .8em;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
}
.select-css {
    width: 80%;
    max-width: 80%;
}
.select-css-date {
    width: 87%;
    max-width: 87%;
}
/*.select-css option {*/
/*    font-weight:bold;*/
/*}*/
/*.select-css option:hover, .select-css option:focus, .select-css option:active {*/
/*    background-color: white;*/
/*}*/
.contacts {
    padding: 0;
    display: block;
}

.sliderValue {
    width: 4rem;
    color: #f04d2d;
    font-weight: 700;
    text-align: center;
}
.worker-left-details-wr {
    text-align: left;
    width: 340px;
    margin: auto;
}
.worker-left-cont-title {
    text-align: left;
    font-weight: 500;
    font-size: 0.875rem;
    margin: 25px 0 5px 10px;
}
.worker-left-cont-flex {
    display: flex;
    justify-content: space-around;
}
.worker-left-left {
    margin-right: 5px;
}
.worker-left-input {
    width: 12rem;
}
.worker-left-check-box {
    margin-top: 40px;
    width: 340px;
}
.right-address-input {
    width: 33rem;
}
.right-inputs {
    width: 31.5rem;
}
.right-inputs-label {
    margin: 5px 0 5px 15px;
}
.work-place-wr {
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
    .worker-left-details-wr {
        width: 280px;
    }
    .worker-left-input {
        width: 8rem;
    }
    .worker-left-check-box {
        width: 17.5rem; /* 280px*/
        font-size: 0.95rem;
        letter-spacing: 0;
    }
    .right-address-input {
        width: 26.2rem;
    }
    .right-inputs {
        width: 25rem;
    }
    .right-inputs-label {
        margin: 5px 0 5px 10px;
        font-size: 1.0rem;
    }
    .work-place-wr {
        justify-content: space-between;
    }
}
.absolute-button {
    position: absolute;
    bottom: 15px;
    width: 380px;
}
@media screen and (max-width: 768px) {
    .worker-left-details-wr {
        width: 11.875px; /* 190px*/
    }
    .worker-left-input {
        width: 7rem;
    }
    .worker-left-check-box {
        width: 11.875rem;
        font-size: 0.9rem;
    }
    .right-address-input {
        width: 18.5rem;
    }
    .right-inputs {
        width: 17rem;
    }
    .right-inputs-label {
        margin: 5px 0 10px 5px;
        font-size: 0.9rem;
    }
    .work-place-wr {
        justify-content: space-between;
    }
}


