.right-side-wrapper-company-balance {
    width: 62%;
    /*border: 1px solid rgba(132, 140, 142, 0.5);*/
    border: 1px solid #848C8E;
    color: #0c1618;
    font-size: 14px;
}
.bold_ {
    font-weight: bold;
    margin: 0 5px;
}
.bold_700 {
    font-weight: 700;
}
.cb-red-text {
    color: #f04d2d;
}
.grey-title {
    color: #505350;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.this_link {
    cursor: pointer;
}
.margin_L_R {
    margin: 0 20px;
}
.margin_L_R_7 {
    margin: 0 7px;
    padding-top: 3px;
}
.f_16 {
    font-size: 16px;
}
.margin_T_B {
    margin: 15px 0;
}
.margin_B {
    margin-bottom: 15px;
}
.margin_T {
    margin-top: 3px;
}
.padding_T {
    padding-top: 5px;
    line-height: 16px;
}
.margin_B_2 {
    margin-bottom: 30px;
}
.flex_ {
    display: flex;
    justify-content: center;
}
.table-balance {
    width: 100%;
}
.table-balance tr td{
    border: none;
}
.td_comp {
    text-align: center;
    width: 100px;
    /*border: 1px solid #848c8e;*/
}
.hidden_ {
    color: white;
}
.pay_by_card {
    background-color: #f04d2d;
    color: white;
    text-decoration: none;
    padding: 2px 7px 2px 7px;
    margin: 5px;
    font-size: 14px;
    line-height: 21px;
    outline: none;
    border: 1px solid #f04d2d;
    border-radius: 5px;
}
.th {
    font-weight: normal;
}
.width-height-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(132, 140, 142, 0.5);
    margin-top: auto;
    margin-bottom: auto;
}
.width-td {
    width: 25px;
}
.plus-minus {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.c-b-row {
    display: inline;
}