.button_body {
    background-color: #f04d2d;
    color: white;
    text-decoration: none;
    padding: 2px 17px 4px 16px;
    margin: 5px 5px 5px 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #f04d2d;
    border-radius: 5px;
}