.adItem-main {
    background-color: #ffffff;
    box-shadow: 0 6px 6px -4px rgba(132, 140, 142, .5),
                -6px 0 6px -4px rgba(132, 140, 142, .5),
                6px 0 6px -4px rgba(132, 140, 142, .5);

    font-size: 14px;
    font-weight: 600;
    max-width: 664px;
    min-width: 30rem;
    min-height: 180px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: left;

    margin-right: auto;
    margin-left: auto;

    /*border: 1px solid #505350;*/
    padding: 10px 10px;
}

@media screen and (max-width: 1024px) {
    .adItem-main {
        font-weight: 500;
    }
}
#cn {
    margin-block-start: 0;
    margin-block-end: 0.5em;
    font-size: 12px;
}
.description-area {
    cursor: pointer;
    margin-right: 0.5rem;
    width: 450px;
}
.desc {
    font-weight: 400;
    text-align: -webkit-left;
}
.vacancy-price {
    color: #f04d2d;
    font-weight: bold;
    font-size: 14px;
}
.sent-button {
    width: 120px;
    height: 30px;
    background-color: #f04d2d;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border-style:solid;
    border-color: #f04d2d;
    margin-top: 5px;
}
.cancel {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    background-color: #505350;
    border: 1px solid #505350;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    height: 30px;
    width: 80px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 40px;
}
.sent-ok {
    cursor: inherit;
    font-size: 12px;
    width: auto;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #505350;
}
.red-button-text {
    color: #f04d2d;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
    border: 0;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    background-color: white;
    outline: none;
}
.red-button-text:active {
    border: 0;
    outline: none;
}
#psevdo:before{
    content: "";
    background-color: #F04D2D;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    left: 670px;
    top: -20px;
    display: block;
    vertical-align: middle;
    position: absolute;
}


