.appbar {
    font-size: 1.2rem;
    background-color: #fff;
    min-height: 64px;
    color: #0c1618;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1100;
    box-sizing: border-box;
    /*box-shadow: 0 0 3px 2px rgba(63, 102, 153, 0.5);*/
    flex-shrink: 0;
    padding: 10px 0 10px 0;
}
.link-padding {
    padding: 18px 0;
}
.link-logo {
    display: flex;
    justify-content: flex-start;
}

/*.active {*/
/*    color: #F04D2D;*/
/*}*/

@media (max-width: 767.98px) {
    .appbar {
        flex-direction: column;
    }
}