.appbar {
    font-size: 1.2rem;
    background-color: #000000;
    min-height: 64px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1100;
    /*box-sizing: border-box;*/
    /*flex-shrink: 0;*/
    padding: 10px 0 10px 0;
}
.link {
    padding: 10px 0 10px 0;
    color: #ebeeed;
}
.link-logo {
    display: flex;
    justify-content: flex-start;
}

.active {
    color: #9b1010;
}

@media (max-width: 767.98px) {
    .appbar {
        flex-direction: column;
    }
}