body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont,'Roboto', 'Oxygen', 'Segoe UI',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #505350;
  /*font-size: 62.5%;*/
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Для формы авторизации и регистрации */
.input-field {
  width: 100%;
  height: 25px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 5px;
  border-color: #848c8e;
  outline: none;
  border-style:solid;
}
.input-field-error {
  border-color: #f04d2d;
  outline: none;
}
.input-field-error:focus {
  border-color: #f04d2d;
  box-shadow: 1px 1px 2px 0 #f04d2d;
  outline: none;
}

/* Для загрузчика */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f04d2d;
  border-color: #f04d2d transparent #f04d2d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.div-louder {
  margin: auto;
  width: 90px;
}
p {
  font-size: 14px;
}
h1, h2, h3 {
  text-transform: uppercase;
}

.flex-only, .flex-space-around, .flex-between, .flex-center, .flex-start {
  display: flex;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: start;
}
.red-button_ {
  height: 30px;
  width: auto;
  cursor: pointer;
  background-color: #f04d2d;
  border: 1px solid #f04d2d;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}
.wrapper-personal-account {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  height: auto;
  font-size: 14px;
}
.left-wrapper-personal-account {
  box-shadow: 0 0 3px 2px rgba(132, 140, 142, 0.5);
  width: 30%;
  position: relative;
  padding-bottom: 50px;
}
.right-wrapper-personal-account-comp {
  width: 62%;
}
.right-wrapper-personal-account {
  width: 62%;
  box-shadow: 0 0 3px 2px rgba(132, 140, 142, 0.5);
}

.align-l {
  text-align: left;
}
.align-c {
  text-align: center;
}
._red {
  color: #F04D2D;
}
