body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #505350;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Для формы авторизации и регистрации */
.input-field {
  width: 100%;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 5px;
  /*padding-left: 7px;*/

  border-color: #848c8e;
  outline: none;
  border-style:solid;
}
.input-field-error {
  border-color: #f04d2d;
  outline: none;
}
.input-field-error:focus {
  border-color: #f04d2d;
  box-shadow: 1px 1px 2px 0 #f04d2d;
  outline: none;
}

/* Для загрузчика */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f04d2d;
  border-color: #f04d2d transparent #f04d2d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.div-louder {
  margin: auto;
  width: 90px;
}

