.wrapper_ {
    display: flex;
    /*justify-content: space-between;*/
}
.photo_wrap_ {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #848C8E;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    margin-left: 20px;
}
.photo_right_place {
    margin-top: 15px;
    width: 198px;
    height: 81px;
}
.comp-name_ {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.prof {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 10px;
}